html, body {
    background-color: #cdcdcd;
}

.wrapper {
    width: 95%;
    margin: auto;
}

section {
    margin-left: -20px;
}

.suite {
    margin-left: 20px;
    margin-bottom: 20px;
}

.suite > .suite-title {
    background-color: #4f57ff;
    width: 100%;
    display: inline-block;
}

.suite > .suite-content {
    display: none;
}



.spec {
    margin-left: 20px;
}
.spec.passed {
    background-color: #70ff4f;
}
.spec.failed {
    background-color: #ff6f56;
}

.screenshot-preview{
    display: inline-block;
    width: 100px;
    height: 100px;
}


