{% for suite in rootSuite.suites %}
<div class="suite">
    <span class="suite-title" data-suite-id="{{suite.id}}">{{suite.description}}  - {{ suite.time / 1000 }} sec.</span>

    <div class="suite-content" data-suite-id="{{suite.id}}">

        {% for spec in suite.specs %}
        <div class="spec {{ spec.status }}"
             data-description="{{ spec.description }}"
             data-fullName="{{ spec.fullName }}"
             data-status="{{ spec.status }}"
                >
            <span class="spec-title">{{ spec.description }} - {{ spec.time / 1000 }} sec.</span>

            <div class="spec-content">
                <a href="#">
                    <img class="screenshot-preview" src="{{ spec.screenshotUrl }}" alt=""/>
                </a>
            </div>
        </div>
        {% endfor %}

        {% set rootSuite = suite %}
        {% include "./suite.partial.html" with rootSuite %}
    </div>
</div>
{% endfor %}